@model Abp.Application.Services.Dto.PagedResultDto<Web.Employee.Service.ViewModel.EmployeeViewModel>
<!-- ########## START: MAIN PANEL ########## -->
    <div class="br-mainpanel br-profile-page">

        <div class="bd bd-gray-300 rounded table-responsive">
            <table class="table mg-b-0">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <th scope="row"><a href="/employee/getbyid/@item.Id"> @item.Name @item.LastName</a></th>
                            <td>@item.Possition</td>
                            <td>@item.PhoneNumber</td>
                            <td>@item.Address</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div><!-- bd -->
        <!-- ########## END: MAIN PANEL ########## -->
    </div>